[submodule "phi-mamba"]
	path = phi-mamba
	url = https://github.com/goombalab/phi-mamba
[submodule "hydra"]
	path = hydra
	url = https://github.com/goombalab/hydra
[submodule "deit"]
	path = deit
	url = https://github.com/facebookresearch/deit
